pdf2image==1.14.0
tensorflow-gpu==2.4.0
# numpy==1.18.0   # Might be needed to run after Tensorflow, as there is a problem with the latest Numpy at the time of writing.
scikit-learn==0.24.00
fastapi==0.65.1
uvicorn==0.13.4
python-multipart==0.0.5
